@using System.Collections.Generic
@using System.Web;
@using FwaEu.Modules.HtmlRenderer.Razor
@using FwaEu.Modules.PasswordRecovery
@model FwaEu.Modules.PasswordRecovery.UserPasswordRecoveryMailModel

@{ Layout = ((IDictionary<string, object>)ViewBag)[RazorHtmlRenderer<UserPasswordRecoveryMailModel>.LayoutPathKey].ToString(); }

<head>
	<style type="text/css">
		a:hover {
			text-decoration: underline !important;
		}

		.center-table {
			width: 95%;
			border: 0;
			max-width: 670px;
			background: #fff;
			border-radius: 3px;
			text-align: center;
			-webkit-box-shadow: 0 6px 18px 0 rgba(0,0,0,.06);
			-moz-box-shadow: 0 6px 18px 0 rgba(0,0,0,.06);
			box-shadow: 0 6px 18px 0 rgba(0,0,0,.06);
		}

		.line-between-rows {
			display: inline-block;
			vertical-align: middle;
			margin: 29px 0 26px;
			border-bottom: 1.5px solid #cecece;
			width: 100%;
			margin-top: 0.5em;
		}

		.change-password-link {
			font-weight: 500;
			margin-top: 35px;
			color: blue;
			font-size: 14px;
			padding: 10px 24px;
			display: inline-block;
			border-radius: 50px;
		}
	</style>
</head>

<body style="margin: 0px; background-color: #f2f3f8;" leftmargin="0" ">
	<table bgcolor="#f2f3f8" style="font-family: 'Open Sans', sans-serif;">
		<tr>
			<td>
				<table style="background-color: #f2f3f8; max-width:670px;" width="100%" align="center">
					<tr>
						<td>
							<table width="100%" border="0" align="center" class="center-table">
								<tr>
									<td style="height:40px;">&nbsp;</td>
								</tr>

								<tr>
									<td style="padding:0 35px;">
										<h1 style="color:#1e1e2d; font-weight:200; font-size:25px;font-family:'Rubik',sans-serif;">
											@Model.Greetings @Model.Title
										</h1>
									</td>
								</tr>

								<tr>
									<td class="line-between-rows">&nbsp;</td>
								</tr>

								<tr>
									<td>
										<p style="color: #455056; font-size: 15px; margin: 0;">
											@Model.Message
										</p>
									</td>
								</tr>

								<tr>
									<td>
										<a href="javascript:void(0);" class="change-password-link">
											@Model.Link
										</a>
									</td>
								</tr>

								<tr>
									<td style="height:40px;">&nbsp;</td>
								</tr>
							</table>
						</td>
				</table>
			</td>
		</tr>
	</table>
</body>
