
.organization-selection-page-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

}

.title {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-text-color);
    text-align: center;
}