$base-font-family: Roboto, "Segoe UI", helvetica, verdana, sans-serif;
$base-accent: #0078d4;
$base-label-color: #374649;
$base-link-color: #0078d4;
$base-icon-color: #374649;
$base-text-color: #374649;
$base-bg: white;
$base-border-color: #ddd;
$base-border-radius: 4px;
$base-success: #8bc34a;
$base-warning: #ffc107;
$base-danger: #f44336;
$base-hover-color: #3c4043;
$base-hover-bg: rgba(0, 0, 0, 0.04);
$base-focus-color: #fff;
$base-focus-bg: #0078d4;
$base-invalid-color: #f44336;
$base-invalid-faded-border-color: rgba(244, 67, 54, 0.4);
$base-border-radius-small: 4px;
$base-border-radius-large: 6px;
$button-normal-color: #374649;
$button-normal-bg: white;
$button-normal-border-color: #ddd;
$button-default-color: #fff;
$button-default-bg: #0078d4;
$button-default-border-color: #006abb;
$button-danger-color: #fff;
$button-danger-bg: #f44336;
$button-danger-border-color: #f32c1e;
$button-success-color: #fff;
$button-success-bg: #8bc34a;
$button-success-border-color: #7eb73d;
$list-border-color: #ddd;
$list-group-color: #374649;
$list-group-header-bg: rgba(238, 238, 238, 0.05);
$list-normal-color: #374649;
$list-item-hover-bg: rgba(0, 0, 0, 0.04);
$list-item-selected-bg: rgba(0, 0, 0, 0.1);
$list-item-focused-selected-bg: rgba(0, 120, 212, 0.7);
$list-focused-bg: #0078d4;
$list-item-active-bg: #0078d4;
$fieldset-field-label-color: #374649;
$checkbox-border-color: #ddd;
$checkbox-focused-borderd-color: #0078d4;
$checkbox-bg: white;
$checkbox-hover-border-color: #005597;
$checkbox-active-icon-bg: rgba(96, 96, 96, 0.2);
$button-group-normal-selected-color: #374649;
$button-group-normal-selected-bg: rgba(0, 0, 0, 0.17);
$button-group-default-selected-color: #0078d4;
$button-group-default-selected-bg: rgba(0, 120, 212, 0.3);
$button-group-danger-selected-color: #f44336;
$button-group-danger-selected-bg: rgba(244, 67, 54, 0.3);
$button-group-success-selected-color: #8bc34a;
$button-group-success-selected-bg: rgba(139, 195, 74, 0.3);
$scrollable-scroll-bg: rgba(191, 191, 191, 0.7);
$scrollable-scrollbar-active-bg: rgba(191, 191, 191, 0.2);
$switch-border-color: #ddd;
$switch-on-color: #374649;
$switch-container-active-bg: rgba(96, 96, 96, 0.2);
$switch-off-color: #99aeb3;
$tabs-tab-color: #374649;
$tabs-tab-selected-color: #374649;
$tabs-tab-bg: #f7f7f7;
$tabs-tab-selected-bg: white;
$tabs-border-color: #ddd;
$tabs-focused-border-color: #0078d4;
$tabs-tab-hover-bg: white;
$badge-color: #fff;
$badge-bg: #0078d4;
$navbar-tab-color: #374649;
$navbar-tab-selected-color: #374649;
$navbar-tab-bg: #f7f7f7;
$navbar-tab-selected-bg: white;
$overlay-content-bg: white;
$overlay-shader-bg: rgba(255, 255, 255, 0.8);
$overlay-focus-border-color: #ddd;
$textbox-search-icon-color: #99aeb3;
$texteditor-color: #374649;
$texteditor-placeholder-color: #99aeb3;
$texteditor-bg: #f7f9fa;
$texteditor-filled-bg: rgba(55, 70, 73, 0.05);
$texteditor-border-color: #ddd;
$texteditor-focused-border-color: #0078d4;
$texteditor-hover-border-color: rgba(0, 120, 212, 0.4);
$dropdowneditor-button-hover-bg: #e6e6e6;
$dropdowneditor-button-active-bg: #b3b3b3;
$dropdowneditor-icon-color: #374649;
$dropdowneditor-icon-active-color: #374649;
$numberbox-spin-active-bg: #b3b3b3;
$numberbox-spin-hover-border-color: transparent;
$numberbox-spin-icon-color: #374649;
$calendar-color: #374649;
$calendar-header-color: #99aeb3;
$calendar-cell-other-color: #b4c3c6;
$calendar-bg: white;
$calendar-hover-bg: rgba(0, 0, 0, 0.04);
$calendar-cell-selected-bg: #0078d4;
$calendar-cell-active-bg: rgba(96, 96, 96, 0.2);
$calendar-border-color: #ddd;
$calendar-navigator-border-color: #ddd;
$calendar-navigator-hover-border-color: #ddd;
$calendar-shevron-icon-color: #0078d4;
$loadindicator-bg: #5d777c;
$treeview-focused-bg: #0078d4;
$treeview-hover-bg: rgba(0, 0, 0, 0.04);
$treeview-border-color: #ddd;
$treeview-item-selected-color: #374649;
$treeview-spin-icon-color: #374649;
$menu-popup-bg: white;
$menu-item-hover-bg: rgba(0, 0, 0, 0.04);
$menu-color: #374649;
$menu-item-hovered-color: #374649;
$menu-item-expanded-color: #374649;
$menu-item-selected-bg: #e6e6e6;
$menu-popup-border-color: #ddd;
$selectbox-list-bg: white;
$toolbar-bg: white;
$popup-title-bg: transparent;
$tileview-color: #374649;
$toast-color: #fff;
$toast-info-bg: #0078d4;
$toast-warning-bg: #ffc107;
$toast-error-bg: #f44336;
$toast-success-bg: #8bc34a;
$progressbar-bg: #dddddd;
$progressbar-range-bg: #0078d4;
$tooltip-color: #374649;
$tooltip-bg: white;
$tooltip-border-color: #ddd;
$slider-bar-bg: #ddd;
$slider-range-bg: #0078d4;
$gallery-indicator-bg: white;
$gallery-indicator-item-selected-bg: #0078d4;
$gallery-indicator-focused-bg: #004d88;
$gallery-navbutton-hover-color: rgba(0, 120, 212, 0.5);
$gallery-nav-arrow-color: #fff;
$gallery-navbutton-active-color: rgba(0, 120, 212, 0.7);
$loadpanel-content-bg: white;
$tagbox-tag-color: #374649;
$tagbox-tag-bg: #dddddd;
$tagbox-tag-button-remove-bg: #aaaaaa;
$radiogroup-checked-bg: #0078d4;
$radiobutton-active-bg: rgba(96, 96, 96, 0.2);
$accordion-color: #374649;
$accordion-title-color: #374649;
$accordion-item-title-opened-bg: transparent;
$accordion-item-border-color: #ddd;
$accordion-item-focused-border-color: #0078d4;
$accordion-title-active-color: #374649;
$accordion-item-hover-bg: rgba(0, 0, 0, 0.04);
$accordion-icon-active-color: #374649;
$colorbox-overlay-bg: white;
$datagrid-base-color: #374649;
$datagrid-base-background-color: white;
$datagrid-border-color: #ddd;
$datagrid-columnchooser-item-color: #95abaf;
$datagrid-columnchooser-font-weight: normal;
$datagrid-drag-header-border-color: rgba(0, 120, 212, 0.5);
$datagrid-selection-bg: #e6e6e6;
$datagrid-row-selected-border-color: #ddd;
$datagrid-row-selected-color: #374649;
$datagrid-row-focused-color: #fff;
$datagrid-row-focused-bg: #3393dd;
$datagrid-hover-bg: rgba(0, 0, 0, 0.04);
$datagrid-menu-icon-color: #87a0a5;
$datagrid-cell-modified-border-color: rgba(139, 195, 74, 0.5);
$datagrid-row-invalid-faded-border-color: rgba(244, 67, 54, 0.4);
$datagrid-nodata-color: #99aeb3;
$datagrid-group-row-color: #95abaf;
$datagrid-group-row-bg: #f7f7f7;
$datagrid-search-color: #fff;
$datagrid-spin-icon-color: #95abaf;
$datagrid-search-bg: #0078d4;
$datagrid-row-error-color: #fff;
$datagrid-row-error-bg: #f88e86;
$datagrid-link-color: #0078d4;
$datagrid-focused-border-color: #3393dd;
$datagrid-editor-bg: white;
$datagrid-columnchooser-bg: white;
$datagrid-row-alternation-bg: whitesmoke;
$datagrid-summary-color: rgba(55, 70, 73, 0.7);
$pager-page-selected-color: #374649;
$pager-page-selected-bg: #d4d4d4;
$pivotgrid-area-color: #95abaf;
$pivotgrid-totalcolor: rgba(221, 221, 221, 0.2);
$pivotgrid-grandtotalcolor: whitesmoke;
$pivotgrid-field-area-text-color: #52686d;
$pivotgrid-spin-icon-color: #95abaf;
$fileuploader-filename-color: #374649;
$fileuploader-falename-status-color: #99aeb3;
$fileuploader-border-color: #ddd;
$scheduler-base-border-color: rgba(221, 221, 221, 0.6);
$scheduler-accent-border-color: #c4c4c4;
$scheduler-appointment-text-color: #fff;
$scheduler-appointment-base-color: #0078d4;
$scheduler-appointment-start-color: rgba(0, 0, 0, 0.3);
$scheduler-first-month-border-color: #aaaaaa;
$scheduler-workspace-focused-cell-color: #bbe1ff;
$scheduler-current-time-cell-color: #0078d4;
$scheduler-time-indicator-color: #229fff;
$form-field-item-color: #374649;
$form-group-border-color: #ddd;
$filterbuilder-text-color: #374649;
$filterbuilder-text-focus-color: #fff;
$filterbuilder-plus-icon-color: rgba(139, 195, 74, 0.3);
$filterbuilder-remove-icon-color: rgba(244, 67, 54, 0.3);
$filterbuilder-group-operation-color: rgba(244, 67, 54, 0.3);
$filterbuilder-item-field-color: rgba(0, 120, 212, 0.3);
$filterbuilder-item-operator-color: rgba(139, 195, 74, 0.3);
$filterbuilder-item-value-color: rgba(221, 221, 221, 0.5);
$filterbuilder-menu-icon-color: #87a0a5;
$drawer-shader-background-color: rgba(0, 0, 0, 0.5);
