.modal-backdrop-request-change {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.modal-request-change {
  background: #FFFFFF;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  width: 520px;
  height: auto;
  overflow: auto;
  border-radius: 4px;
}

.modal-header-request-change {
  position: relative;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 12px;
  font-weight: bold;
}

  .modal-header-request-change i {
    padding: 0 8px;
  }

.modal-body-request-change {
  position: relative;
  padding: 10px;
  font-size: 14px;
}

.item-label {
  font-weight: bold;
}

.request-change-btn {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 949px) {
  .modal-header-request-change {
    font-size: 14px;
    padding: 12px 0;
  }
}

@media screen and (max-height: 629px) {
  .modal-request-change {
    height: 100%;
  }
}
