.search-patient-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 10px;

}

.select-sector  { 
    background: none;
    border: 0;
    width: 200px;

}

.select-sector .p-dropdown-trigger {
    justify-content: left !important;
    background-color: red !important;
  }

/* .select-sector .p-dropdown-trigger {
    border: none;
    background: none;
    width: 150px;
    border: 0

  }
  
  .select-sector .p-dropdown-trigger .p-dropdown-trigger-icon {
    display: none;
  } */

.search-input {
    width: 100%;
}

.patient-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-height: calc(100vh - 300px);
    overflow-y: scroll;
    padding: 8px;
}

.patient-item {
    color: var(--alt-secondary-text-color);
    height: 60px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0px var(--primary-text-color);
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    border-left: 12px solid #81d0c6;
    opacity: 1;
    background-color: white;
}

.patient-item:hover {
    background-color: #e4e1e1;
}

.patient-item-inactive {
    opacity: 0.5;
}

.room-patient-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.p-dropdown-trigger {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-shrink: 0;
}


.display-patients-text {
    color: #1A0DAB;
    text-decoration: underline;
    align-self: center;
}

.patient-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    row-gap: 5px;
    text-align: center;
}

.icon-not-found { 
    font-size: 48px;
    color: #484349
}