/*Telephone Modal*/
.modal-backdrop-telephone {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.modal-telephone {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    width: 420px;
    height: auto;
    overflow: auto;
    border-radius: 4px;
}

.modal-header-telephone-change {
    position: relative;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 12px;
    font-weight: bold;
}

    .modal-header-telephone-change i {
        padding: 0 8px;
    }

.modal-body-telephone {
    position: relative;
    padding: 10px;
    font-size: 14px;
}

@media screen and (max-width: 949px) {
    .modal-header-telephone {
        font-size: 14px;
        padding: 12px 0;
    }
}

@media screen and (max-height: 629px) {
    .modal-telephone {
        height: 100%;
    }
}
