.page-articles {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 10px;

}

.articles-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-y: scroll;
    padding: 8px 1px 8px 1px;
}

.articles-list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.article-item {
    color: var(--alt-secondary-text-color);
    height: 60px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0px var(--primary-text-color);
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    background-color: white;
}

.search-container {
    display: flex;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 10px;
}

.search-input {
    flex-grow: 1;
}

.fa.fa-solid.fa-close {
    margin-left: 10px;
}

.qr-code-icon {
    margin-left: auto;
}

.remove-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    padding-right: 50px;
}

.article-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    row-gap: 5px;
    text-align: center;
}

.icon-not-found {
    font-size: 48px;
    color: #484349
}