.search-patient-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 10px;
}

.select-sector {
    background: none;
    border: 0;
    width: 200px;

}


/* .select-sector .p-dropdown-trigger {
    border: none;
    background: none;
    width: 150px;
    border: 0

  }
  
  .select-sector .p-dropdown-trigger .p-dropdown-trigger-icon {
    display: none;
  } */

.search-input {
    width: 100%;

}

.patient-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-height: calc(75vh);
    overflow-y: scroll;
    padding: 8px 1px;
}

.patient-list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.patient-item {
    color: var(--alt-secondary-text-color);
    height: 60px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px #acacac59;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    border-left: 20px solid #0088F6;
    opacity: 1;
    background-color: white;
}

.patient-item:hover {
    background-color: #e4e1e1;
}

.patient-item-inactive {
    opacity: 0.5;
    border-left: 30px solid #E4E90B;
}

.name-patient-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.patient-state {
    color: #484349;
}

.p-dropdown-trigger {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-shrink: 0;
}


.display-patients-text {

    color: #4c4c4c;
    text-decoration: none;
    align-self: center;
    cursor: pointer;

}

.my-input-switch {

    color: red !important;
}

/* 
.my-input-switch .p-inputswitch-slider {
    background-color: red !important;
}

.my-input-switch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: red !important;
} */

.include-patients-switch-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px;
    /* border: 1px solid red; */
    background-color: #fff;
    border-radius: 6px;


}

.patient-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    row-gap: 5px;
    text-align: center;
}

.icon-not-found {
    font-size: 48px;
    color: #484349
}