.treatment-page-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.accordion-header {
    display: flex;
    flex-direction: column;
    color: var(--alt-secondary-text-color);
    text-decoration: none;
    width: 100%;
    row-gap: 5px;
    height: auto;
}


.accordion-header:focus {
    text-decoration: none !important;
  }

.header-title {
    font-size: 16px;
    font-weight: bold;
    width: 90%;
}

.header-subtitle {
    font-size: 14px;
    opacity: 0.8;
    font-weight: 500;
    width: 90%;
}

.accordion-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: var(--alt-secondary-text-color);
}
.quantity-container { 
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 15px
}

.add-icon {
    font-size: 25px;
}

.confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.confirmation-button-container {
    display: flex;
    column-gap: 10px;
}

.accordion-top-area { 
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    
}

.bag-icon {
    font-size: 22px;
}
